aurorion_backend/target/ecommerce-0.0.1-SNAPSHOT.jar
aurorion_backend/.DS_Store
node_modules/
aurorion_adminstrator/.next/trace
aurorion_adminstrator/.next/cache/webpack/.DS_Store
aurorion_frontend/.next/cache/webpack/client-development/0.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/1.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/2.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/3.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/4.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/5.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/index.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/index.pack.gz.old
aurorion_frontend/.next/cache/webpack/server-development/0.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/1.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/2.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/3.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/4.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/5.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/6.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/7.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/index.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/index.pack.gz.old
aurorion_adminstrator/.next/cache/webpack/client-development/0.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/1.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/2.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/3.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/4.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/5.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/6.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/index.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/index.pack.gz.old
aurorion_adminstrator/.next/cache/webpack/edge-server-development/0.pack.gz
aurorion_adminstrator/.next/cache/webpack/edge-server-development/index.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/0.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/1.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/2.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/3.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/4.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/5.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/6.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/7.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/index.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/index.pack.gz.old
aurorion_adminstrator/.env
aurorion_adminstrator/.next/.DS_Store
aurorion_adminstrator/.next/static/.DS_Store
aurorion_backend/target/classes/.DS_Store
aurorion_frontend/.env
.gitignore
aurorion_frontend/.next/trace
aurorion_frontend/.next/cache/webpack/client-development/6.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/7.pack.gz
aurorion_frontend/.next/cache/webpack/client-development/8.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/8.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/9.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/10.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/11.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/12.pack.gz
aurorion_frontend/.next/cache/webpack/server-development/13.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/7.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/8.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/9.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/8.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/9.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/10.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/11.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/12.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/10.pack.gz
aurorion_adminstrator/.next/cache/webpack/client-development/11.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/13.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/14.pack.gz
aurorion_adminstrator/.next/cache/webpack/server-development/15.pack.gz
