aurorion_backend/target/ecommerce-0.0.1-SNAPSHOT.jar
aurorion_backend/.DS_Store
node_modules/
aurorion_adminstrator/.next/
aurorion_adminstrator/.next/
aurorion_frontend/.next/
aurorion_adminstrator/.env
aurorion_backend/target/classes/.DS_Store
aurorion_frontend/.env
aurorion_frontend/.next/
aurorion_frontend/.next/cache/